## DIAMONDS MODEL

## 1. Data

In [1]:
import pandas as pd

* diamonds: labeled data we can use for training and testing
* diamonds_predict: diamonds to predict its price and upload result to Kaggle

In [2]:
diamonds = pd.read_csv('../Downloads/diamonds_train.csv')
diamonds_predict = pd.read_csv('../Downloads/diamonds_predict.csv')

In [3]:
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    40455 non-null  float64
 1   cut      40455 non-null  object
 2   color    40455 non-null  object
 3   clarity  40455 non-null  object
 4   depth    40455 non-null  float64
 5   table    40455 non-null  float64
 6   price    40455 non-null  int64
 7   x        40455 non-null  float64
 8   y        40455 non-null  float64
 9   z        40455 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 3.1+ MB

In [4]:
diamonds_predict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13485 entries, 0 to 13484
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       13485 non-null  int64
 1   carat    13485 non-null  float64
 2   cut      13485 non-null  object
 3   color    13485 non-null  object
 4   clarity  13485 non-null  object
 5   depth    13485 non-null  float64
 6   table    13485 non-null  float64
 7   x        13485 non-null  float64
 8   y        13485 non-null  float64
 9   z        13485 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 1.0+ MB

In [5]:
diamonds.head().T

               0          1     2     3      4
carat       1.21       0.32  0.71  0.41   1.02
cut      Premium  Very Good  Fair  Good  Ideal
color          J          H     G     D      G
clarity      VS2        VS2   VS1   SI1    SI1
depth       62.4         63  65.5  63.8   60.5
table         58         57    55    56     59
price       4268        505  2686   738   4882
x           6.83       4.35  5.62  4.68   6.55
y           6.79       4.38  5.53  4.72   6.51
z           4.25       2.75  3.65     3   3.95

as you can see, there are both categorical and numerical columns...

## 2. EDA

this section is up to you! this guided lesson is about a machine learning pipeline...

In [6]:
diamonds_predict['volume'] = diamonds_predict['x']*diamonds_predict['y']*diamonds_predict['z']

In [7]:
diamonds['volume'] = diamonds['x']*diamonds['y']*diamonds['z']

In [8]:
#diamonds.loc[(diamonds['x']==0) | (diamonds['y']==0) | (diamonds['z']==0)]

In [9]:
#diamonds_predict.loc[(diamonds_predict['x']==0) | (diamonds_predict['y']==0) | (diamonds_predict['z']==0)]

In [10]:
#diamonds = diamonds[(diamonds[['x','y','z']] != 0).all(axis=1)]

In [11]:
#diamonds_predict = diamonds_predict[(diamonds_predict[['x','y','z']] != 0).all(axis=1)]

In [12]:
#diamonds_predict.loc[(diamonds_predict['x']==0) | (diamonds_predict['y']==0) | (diamonds_predict['z']==0)]

In [13]:
#diamonds.loc[(diamonds['x']==0) | (diamonds['y']==0) | (diamonds['z']==0)]

In [14]:
color_dict = {'D':'Colorless','E':'Colorless','F':'Colorless',
              'G':'Near Colorless','H':'Near Colorless','I':'Near Colorless','J':'Near Colorless', 
             'K':'Faint', 'L':'Faint', 'M':'Faint', 
             'N':'Very Light', 'O':'Very Light', 'P':'Very Light', 'Q':'Very Light', 'R':'Very Light',
              'S':'Light', 'T':'Light', 'U':'Light', 'V':'Light', 'W':'Light', 'X':'Light', 'Y':'Light', 'Z':'Light'}

clarity_dict = {'FL':'Excelent',
                'IF':'Excelent',
                'VVS1':'Very Good','VVS2':'Very Good',
                'VS1':'Good', 'VS2':'Good',
                'SI1':'Fair', 'SI2':'Fair',
                'I1':'Poor', 'I2':'Poor','I3':'Poor'}

In [15]:
diamonds['color_grp'] = diamonds['color'].map(color_dict)
diamonds['clarity_grp'] = diamonds['clarity'].map(clarity_dict)

In [16]:
diamonds_predict['color_grp'] = diamonds_predict['color'].map(color_dict)
diamonds_predict['clarity_grp'] = diamonds_predict['clarity'].map(clarity_dict)

In [17]:
diamonds.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,volume,color_grp,clarity_grp
0,1.21,Premium,J,VS2,62.4,58.0,4268,6.83,6.79,4.25,197.096725,Near Colorless,Good
1,0.32,Very Good,H,VS2,63.0,57.0,505,4.35,4.38,2.75,52.395750,Near Colorless,Good
2,0.71,Fair,G,VS1,65.5,55.0,2686,5.62,5.53,3.65,113.436890,Near Colorless,Good
3,0.41,Good,D,SI1,63.8,56.0,738,4.68,4.72,3.00,66.268800,Colorless,Fair
4,1.02,Ideal,G,SI1,60.5,59.0,4882,6.55,6.51,3.95,168.429975,Near Colorless,Fair

In [18]:
diamonds_predict.head()

,id,carat,cut,color,clarity,depth,table,x,y,z,volume,color_grp,clarity_grp
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,125.806866,Colorless,Fair
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,196.129362,Near Colorless,Good
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,246.878712,Near Colorless,Fair
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,145.593630,Colorless,Fair
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,81.997355,Colorless,Good

In [19]:
diamonds_predict['cut']=diamonds_predict['cut'].map({'Ideal':1,'Good':2,'Very Good':3,'Fair':4,'Premium':5})
diamonds_predict['color']=diamonds_predict['color'].map({'E':1,'D':2,'F':3,'G':4,'H':5,'I':6,'J':7})
diamonds_predict['clarity']=diamonds_predict['clarity'].map({'VVS1':1,'IF':2,'VVS2':3,'VS1':4,'I1':5,'VS2':6,'SI1':7,'SI2':8})

In [20]:
diamonds_predict['cut/wt']=diamonds_predict['cut']/diamonds_predict['carat']
diamonds_predict['color/wt']=diamonds_predict['color']/diamonds_predict['carat']
diamonds_predict['clarity/wt']=diamonds_predict['clarity']/diamonds_predict['carat']
#diamonds = diamonds.drop(['cut','color','clarity','table','depth'], axis=1)

In [21]:
diamonds.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,volume,color_grp,clarity_grp
0,1.21,Premium,J,VS2,62.4,58.0,4268,6.83,6.79,4.25,197.096725,Near Colorless,Good
1,0.32,Very Good,H,VS2,63.0,57.0,505,4.35,4.38,2.75,52.395750,Near Colorless,Good
2,0.71,Fair,G,VS1,65.5,55.0,2686,5.62,5.53,3.65,113.436890,Near Colorless,Good
3,0.41,Good,D,SI1,63.8,56.0,738,4.68,4.72,3.00,66.268800,Colorless,Fair
4,1.02,Ideal,G,SI1,60.5,59.0,4882,6.55,6.51,3.95,168.429975,Near Colorless,Fair

In [22]:

diamonds['cut']=diamonds['cut'].map({'Ideal':1,'Good':2,'Very Good':3,'Fair':4,'Premium':5})
diamonds['color']=diamonds['color'].map({'E':1,'D':2,'F':3,'G':4,'H':5,'I':6,'J':7})
diamonds['clarity']=diamonds['clarity'].map({'VVS1':1,'IF':2,'VVS2':3,'VS1':4,'I1':5,'VS2':6,'SI1':7,'SI2':8})


diamonds['cut/wt']=diamonds['cut']/diamonds['carat']
diamonds['color/wt']=diamonds['color']/diamonds['carat']
diamonds['clarity/wt']=diamonds['clarity']/diamonds['carat']

In [23]:
diamonds.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,volume,color_grp,clarity_grp,cut/wt,color/wt,clarity/wt
0,1.21,5,7,6,62.4,58.0,4268,6.83,6.79,4.25,197.096725,Near Colorless,Good,4.132231,5.785124,4.958678
1,0.32,3,5,6,63.0,57.0,505,4.35,4.38,2.75,52.395750,Near Colorless,Good,9.375000,15.625000,18.750000
2,0.71,4,4,4,65.5,55.0,2686,5.62,5.53,3.65,113.436890,Near Colorless,Good,5.633803,5.633803,5.633803
3,0.41,2,2,7,63.8,56.0,738,4.68,4.72,3.00,66.268800,Colorless,Fair,4.878049,4.878049,17.073171
4,1.02,1,4,7,60.5,59.0,4882,6.55,6.51,3.95,168.429975,Near Colorless,Fair,0.980392,3.921569,6.862745

## 3. Preprocessing

in this section I will teach how to use scikit-learn's Pipiline and ColumnTransformer, one of the best practices for composing preprocessing and modeling in a single and elegand class... pay attention as it is hard to understand...

In [24]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MaxAbsScaler

* https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html
* https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html#sklearn.impute.SimpleImputer
* https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
* https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html

let's identify numerical and categorical features...

In [25]:
NUM_FEATS = ['carat', 'x', 'y', 'z', 'cut/wt', 'color/wt', 'clarity/wt', 'depth', 'table', 'cut', 'color', 'clarity']
CAT_FEATS = ['color_grp', 'clarity_grp']
FEATS = NUM_FEATS + CAT_FEATS
TARGET = 'price'

let's define a preprocessing transformer for numerical columns...

In [26]:
numeric_transformer = \
Pipeline(steps=[('imputer', SimpleImputer(strategy='mean')), 
               ('robustscaler', StandardScaler()),
               #('poly', PolynomialFeatures()), 
               #('disc', KBinsDiscretizer())
               ])

let's define a preprocessing transformer for categorical columns...

In [27]:
categorical_transformer = \
Pipeline(steps=[('imputer', SimpleImputer(strategy='constant')),
                ('onehot', OneHotEncoder(handle_unknown='ignore'))])

let's join these transformers using a `ColumnTransformer`:

In [28]:
preprocessor = \
ColumnTransformer(transformers=[('num', numeric_transformer, NUM_FEATS),
                                ('cat', categorical_transformer, CAT_FEATS)
                               ])

inspecting the full preprocessor:

In [29]:
preprocessor

ColumnTransformer(transformers=[('num',
                                 Pipeline(steps=[('imputer', SimpleImputer()),
                                                 ('robustscaler',
                                                  StandardScaler())]),
                                 ['carat', 'x', 'y', 'z', 'cut/wt', 'color/wt',
                                  'clarity/wt', 'depth', 'table', 'cut',
                                  'color', 'clarity']),
                                ('cat',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='constant')),
                                                 ('onehot',
                                                  OneHotEncoder(handle_unknown='ignore'))]),
                                 ['color_grp', 'clarity_grp'])])

how does this preprocessing looks like?

at least in this case, it is at the cost of interpretability of transformed DataFrame...

In [30]:
pd.DataFrame(data=preprocessor.fit_transform(diamonds)).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0.867006,0.978807,0.921985,1.022657,-0.067975,-0.009640,-0.713333,0.452019,0.247981,1.457012,1.954885,0.232036,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,-1.004557,-1.226738,-1.179816,-1.129259,1.307815,2.256215,1.784886,0.871099,-0.199745,0.219693,0.823922,0.232036,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,-0.184434,-0.097286,-0.176882,0.161891,0.326063,-0.044485,-0.591038,2.617265,-1.095198,0.838352,0.258440,-0.722753,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,-0.815298,-0.933258,-0.883296,-0.770607,0.127740,-0.218515,1.481138,1.429872,-0.647472,-0.398967,-0.872523,0.709430,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.467458,0.729794,0.677793,0.592274,-0.895070,-0.438766,-0.368422,-0.875068,0.695707,-1.017627,0.258440,0.709430,0.0,1.0,0.0,1.0,0.0,0.0,0.0

## 4. Train a simple model

first, lets train a simple model using holdout, train - test split...

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
diamonds_train, diamonds_test = train_test_split(diamonds, test_size=0.2)

In [33]:
print(diamonds_train.shape)
print(diamonds_test.shape)

(32364, 16)
(8091, 16)

let's choose a model from scikit-learn cheatsheet: https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

In [79]:
from sklearn.ensemble import RandomForestRegressor

model= Pipeline(steps=[('preprocessor', preprocessor),
                       ('regressor', RandomForestRegressor(#n_jobs=-1, 
                                                           max_depth=500, 
                                                           min_samples_split=23
                       ))])

In [80]:
model.fit(diamonds_train[FEATS], diamonds_train[TARGET]);

## 5. Check model performance

In [81]:
from sklearn.metrics import mean_squared_error

In [82]:
y_test = model.predict(diamonds_test[FEATS])
y_train = model.predict(diamonds_train[FEATS])

In [83]:
print(f"test error: {mean_squared_error(y_pred=y_test, y_true=diamonds_test[TARGET], squared=False)}")
print(f"train error: {mean_squared_error(y_pred=y_train, y_true=diamonds_train[TARGET], squared=False)}")

test error: 591.1879018522324
train error: 407.2835903104117

## 6. Check model performance using cross validation

In [37]:
from sklearn.model_selection import cross_val_score

In [38]:
scores = cross_val_score(model, 
                         diamonds[FEATS], 
                         diamonds[TARGET], 
                         scoring='neg_root_mean_squared_error',
                         cv=5,n_jobs=-1)

In [39]:
import numpy as np
np.mean(-scores)

548.0031057890975

## 7. Optimize model using grid search

In [40]:
from sklearn.model_selection import RandomizedSearchCV

In [41]:
param_grid = {
    'preprocessor__num__imputer__strategy': ['mean', 'median'],
    'regressor__n_estimators': [16, 32, 64, 128, 256, 512],
    'regressor__max_depth': [2, 4, 8, 16],
}

grid_search = RandomizedSearchCV(model, 
                                 param_grid, 
                                 cv=5, 
                                 verbose=10, 
                                 scoring='neg_root_mean_squared_error', 
                                 n_jobs=-1,
                                 n_iter=32)

grid_search.fit(diamonds[FEATS], diamonds[TARGET])

Fitting 5 folds for each of 32 candidates, totalling 160 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    7.0s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:   26.0s
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:   48.3s
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done  45 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done  69 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done  82 tasks      | elapsed:  6.1min
[Parallel(n_jobs=-1)]: Done  97 tasks      | elapsed:  6.3min
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:  8.2min
[Parallel(n_jobs=-1)]: Done 129 tasks      | elapsed:  9.7min
[Parallel(n_jobs=-1)]: Done 160 out of 160 | elapsed: 14.2min finished

RandomizedSearchCV(cv=5,
                   estimator=Pipeline(steps=[('preprocessor',
                                              ColumnTransformer(transformers=[('num',
                                                                               Pipeline(steps=[('imputer',
                                                                                                SimpleImputer()),
                                                                                               ('robustscaler',
                                                                                                StandardScaler())]),
                                                                               ['carat',
                                                                                'x',
                                                                                'y',
                                                                                'z',
                                                                                'cut/wt',
                                                                                'color/wt',
                                                                                'clarity/wt',
                                                                                'depth',
                                                                                'table']),
                                                                              ('cat',
                                                                               Pipeline(steps=[('imputer',
                                                                                                SimpleImputer(strategy='constant')),
                                                                                               ('onehot',
                                                                                                OneHotEncoder(handle_unknown='ignore'))]),
                                                                               ['cut',
                                                                                'color',
                                                                                'clarity'])])),
                                             ('regressor',
                                              RandomForestRegressor(min_samples_split=25))]),
                   n_iter=32, n_jobs=-1,
                   param_distributions={'preprocessor__num__imputer__strategy': ['mean',
                                                                                 'median'],
                                        'regressor__max_depth': [2, 4, 8, 16],
                                        'regressor__n_estimators': [16, 32, 64,
                                                                    128, 256,
                                                                    512]},
                   scoring='neg_root_mean_squared_error', verbose=10)

In [42]:
grid_search.best_params_

{'regressor__n_estimators': 512,
 'regressor__max_depth': 16,
 'preprocessor__num__imputer__strategy': 'mean'}

In [43]:
grid_search.best_score_

-547.3952539730572

## 8. Submission

In [44]:
y_pred = grid_search.predict(diamonds_predict[FEATS])

In [45]:
submission_df = pd.DataFrame({'id': diamonds_predict['id'], 'price': y_pred})

In [46]:
submission_df.head()

   id        price
0   0  3019.398312
1   1  5371.722228
2   2  9858.855654
3   3  4099.328766
4   4  1697.108515

In [47]:
submission_df.max()

id       13484.000000
price    17957.861457
dtype: float64

In [48]:
submission_df.price.clip(0, 19000, inplace=True)

In [49]:
submission_df.to_csv('diamonds_rf_6.csv', index=False)